h2{
    text-align: center;
    margin-left: 25px;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5{
    text-align: center;
    margin-left: 25px;
    font-size: 50px;
}

img{
    margin-left: 800px;
    margin-top: -250px;
}