/* *{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    margin-left: 200px;
    margin-top: -120px;
}

table{
    border-collapse: collapse;
    border: 0px solid black;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    height: 50%;
    padding-top: -30%;
    margin-left: 20%;

}

.button{
    margin-left: 50px;
    margin-top: -36px;
    
} */